html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #101521 !important;
    margin-left: 200px;
    margin-right: 200px;
}


.Elementos {
    display: flex !important;
    justify-content: space-between !important;
    align-content: center !important;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #101521;
}

#Navegaciones {
    flex-grow: 0 !important;
}

#Nombre-Empresa {
    display: flex;
}

.container-img {
    width: 50px;
    height: 50px;
}

.header-boton {
    background-color: #134aed;
    border: none;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: white;
}

.tarjetas {
    border: 2px solid #283354;
    background-color: #192033 !important;
}

footer {
    padding-top: 20px;
    text-align:center;
    margin-bottom: -40px;
    display: flex;
    justify-content:space-around;
}

.footer-logo {
    width: 50px;
    height: 50px;
}

.footer-contactos {
    display: flex;
    width: 22px;
    height: 22px;
    flex-basis: content;
    gap: 5px;
}

